In [7]:
import pandas as pd
import numpy as np 
import seaborn as sns 
from matplotlib import pyplot as plt

In [20]:
df = pd.read_excel('C:/Users/STUTERN/Downloads/ds-application-exercise-final.xlsx', index_col=0)

In [22]:
df.head()

,ID_ORIGINAL,Gender,Foreign_Citizenship,Age,Frequent_Traveler,Cellphone_Usage,Household_Size,Spy,Satisfaction_Level,Occupation,Political_Participation,Social_Person,Area_Residence,Military_Service,Household_Income,household_binned,satisfaction_level_binned,Age_bins,Avg_Income_person,Avg_Income_person_binned
0,467329,Female,No,40,Yes,Low,1,1,4,Government,No involvement,No,City,Never,7000,1,4,"(30, 45]",7000.000000,5K+
1,461212,Female,No,30,No,Low,6,0,1,Nothing,No involvement,No,City,Never,19610,5+,1,"(10, 30]",3268.333333,less_5k
2,466216,Male,No,29,No,Low,4,0,1,Private company,Strong involvement,Yes,Country-side,Never,8261,4,1,"(10, 30]",2065.250000,less_5k
3,462613,Female,Yes,35,No,Average,5,0,1,Private company,No involvement,Yes,Country-side,Never,7000,5+,1,"(30, 45]",1400.000000,less_5k
4,465709,Male,Yes,68,Yes,Average,2,1,4,Private company,Strong involvement,No,City,Never,8261,2,4,"(60, 90]",4130.500000,less_5k

In [23]:
df.shape

(7823, 20)

missing values
EDA
Clone your dataset
Preprocessing; treat your categorical columns, treat outliers, skewed columns etc
fitting the model
Evaluating the model
Fine tune