The aim of this project is to build a model that will predict the income of an individual.

**Note that the data set is an income of individuals with different features explaining the target variable.**


Carry out the machine learning stages/task using the dataset accompany with this mail  and answer the following questions:


* What type of Machine learning problem is this?. Please load the dataset  and identify the target variable before coming into a conclusion.

1. Checking for missing values in the dataset ( in this particular dataset, there are inconsistency values like “?”) , explain how you intend dealing with these values?

2. Check for the shape of the dataframe?

3. Explore the important columns and give insight based on the columns

4. Check for skewness and outliers in the dataset

5. Use a transformer to transform the columns above

It would be great to see you define a class object with all these methods sighted below ( That will be so great to see , you know ?)

In [1]:
import pandas as pd
import numpy as np 
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
df1 = pd.read_csv('C:/Users/STUTERN/Downloads/adult.data', names = ['age', 'workclass', 'fnlwgt', 'education', 
                                                                   'eductaion_num', 'marital_status', 'occupation', 
                                                                   'relationship', 'race', 'sex', 'capital_gain', 
                                                                   'capital_loss', 'house_per_week', 'native_country', 
                                                                   'income'])

In [3]:
df1.head()

,age,workclass,fnlwgt,education,eductaion_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,house_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df1.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
eductaion_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
house_per_week    0
native_country    0
income            0
dtype: int64

In [6]:
df1.isin(['?']).sum(axis=0)

age               0
workclass         0
fnlwgt            0
education         0
eductaion_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
house_per_week    0
native_country    0
income            0
dtype: int64

In [7]:
(df1 == '?').any()

age               False
workclass         False
fnlwgt            False
education         False
eductaion_num     False
marital_status    False
occupation        False
relationship      False
race              False
sex               False
capital_gain      False
capital_loss      False
house_per_week    False
native_country    False
income            False
dtype: bool

In [22]:
df = pd.read_csv(r'C:\Users\STUTERN\Downloads\adult.data')
df.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [17]:
df.isin(['?']).sum(axis=0)

39                0
 State-gov        0
 77516            0
 Bachelors        0
 13               0
 Never-married    0
 Adm-clerical     0
 Not-in-family    0
 White            0
 Male             0
 2174             0
 0                0
 40               0
 United-States    0
 <=50K            0
dtype: int64

In [19]:
(df == '?').any()

39                False
 State-gov        False
 77516            False
 Bachelors        False
 13               False
 Never-married    False
 Adm-clerical     False
 Not-in-family    False
 White            False
 Male             False
 2174             False
 0                False
 40               False
 United-States    False
 <=50K            False
dtype: bool

In [20]:
df.columns.isin(['?']).any()

False

In [ ]:
df.columns.isin(['?']).any()