In [6]:
import twint
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import re
from datetime import datetime
from textblob import TextBlob
from sqlalchemy import create_engine


import nest_asyncio
nest_asyncio.apply()

In [7]:
# creating a search string 
candidates={"Bola Ahmed Tinubu": "Asiwaju\Tinubu\Jagaban", 
           "Peter Obi": "Obidient\Peter Obi\ObiDatti", 
           "Atiku": "Atiku\Atiku Abubakar"}

In [17]:
def twintConfig(search_string):
    c = twint.Config()
    c.Search = search_string[1]
    c.Limit=1000
    c.Lang = 'en'
    c.Pandas = True
    c.Pandas_au = True          
    c.Pandas_clean=True
    c.Since='2022-01-01'
    c.Until='2022-12-01'
    c.Hide_output = True
    twint.run.Search(c)

In [18]:
def Run_Twint(search_vals):
    
    #set empty dataframe for join
    out_df= pd.DataFrame()
    
    for candidate in search_vals.items():
        print ("running for search item: "+candidate[0]+"\n")
        print ("Search string: "+candidate[1]+"\n")
        
        #run twint
        twintConfig(candidate)
        
        #get dataframe
        candidates_23 = twint.storage.panda.Tweets_df
        
        #join Dataframes and create 'candidates' column
        candidates_23["candidates"]= candidate[0]
        out_df = pd.concat([out_df,candidates_23])
        
    return out_df

In [19]:
# Extracting the tweets of the candidates from Jan 1st, 2022 till Nov 8th, 2022.
nest_asyncio.apply()
candidates_23 = Run_Twint(candidates)

running for search item: Bola Ahmed Tinubu

Search string: Asiwaju\Tinubu\Jagaban

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
running for search item: Peter Obi

Search string: Obidient\Peter Obi\ObiDatti

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
running for search item: Atiku

Search string: Atiku\Atiku Abubakar

In [26]:
candidates_23.head()

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,candidates
0,1598080846644547584,1598080846644547584,1.669847e+12,2022-11-30 23:25:39,+0100,,Nigerians are adorable. ðŸ‡³ðŸ‡¬ They know who is wo...,en,[renewedhope],[],...,,,,,[],,,,,Bola Ahmed Tinubu
1,1598065873105096704,1598063843158417408,1.669844e+12,2022-11-30 22:26:09,+0100,,@dipoaina1 @OfficialAPCNg gave SW d chance 2 a...,en,[],[],...,,,,,"[{'screen_name': 'dipoaina1', 'name': 'AinÃ Di...",,,,,Bola Ahmed Tinubu
2,1598055733685555202,1598055733685555202,1.669841e+12,2022-11-30 21:45:52,+0100,,That is JAGABAN for you. Even his co-contestan...,en,[],[],...,,,,,[],,,,,Bola Ahmed Tinubu
3,1598054835206914049,1597855388996898816,1.669841e+12,2022-11-30 21:42:17,+0100,,@btmusaesq @FredrickNwabufo I'm very Proud to ...,en,[],[],...,,,,,"[{'screen_name': 'btmusaesq', 'name': 'Btm Of ...",,,,,Bola Ahmed Tinubu
4,1598014122331099136,1598014122331099136,1.669831e+12,2022-11-30 19:00:31,+0100,,I say make I tell you; As for me and my house...,en,[],[],...,,,,,[],,,,,Bola Ahmed Tinubu

In [27]:
candidates_23.candidates

0       Bola Ahmed Tinubu
1       Bola Ahmed Tinubu
2       Bola Ahmed Tinubu
3       Bola Ahmed Tinubu
4       Bola Ahmed Tinubu
              ...
1000                Atiku
1001                Atiku
1002                Atiku
1003                Atiku
1004                Atiku
Name: candidates, Length: 1385, dtype: object

In [29]:
# saving my dataset 
candidates_23.to_csv("C:/Users/STUTERN/Desktop/Intermediate_project/week6/tweets.csv")

In [ ]:
C:\Users\STUTERN\Desktop\Intermediate_project\week6/tweets.csv

In [30]:
candidates_23.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'timezone', 'place',
       'tweet', 'language', 'hashtags', 'cashtags', 'user_id', 'user_id_str',
       'username', 'name', 'day', 'hour', 'link', 'urls', 'photos', 'video',
       'thumbnail', 'retweet', 'nlikes', 'nreplies', 'nretweets', 'quote_url',
       'search', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest', 'candidates'],
      dtype='object')

In [31]:
candidates_23["language"].unique() # checking if my data has other languages other than English

array(['en', 'in', 'tl', 'ro', 'und', 'qme', 'fr', 'qht', 'pt', 'ht'],
      dtype=object)