In [60]:
import joblib
from joblib import load
import pandas as pd
import numpy as np

In [61]:
new_data = pd.read_csv("C:/Users/STUTERN/Downloads/new_data.csv")
new_data.head()

,id,first_name,last_name,email,quiz_summary,assignment_summary,grade_point,intermediate_class_eligibility
0,1,Chase,Burtt,cburtt0@nyu.edu,100,0.0,80,False
1,2,Rusty,Boumphrey,rboumphrey1@google.cn,70,56.0,11,True
2,3,Ree,Birley,rbirley2@weather.com,90,76.0,98,False
3,4,Jere,Maydwell,jmaydwell3@ed.gov,100,78.4,49,False
4,5,Mandie,Finding,mfinding4@state.gov,100,20.0,29,True

In [62]:
new_data.shape

(1000, 8)

In [63]:
new_data.columns

Index(['id', 'first_name', 'last_name', 'email', 'quiz_summary',
       'assignment_summary', 'grade_point', 'intermediate_class_eligibility'],
      dtype='object')

In [64]:
def student_cutoff(column):
    if column >= 50:
        return "Yes"
    else:
        return "No"

In [65]:
new_data['intermediate_class_eligibility'] = new_data['grade_point'].apply(student_cutoff)

In [66]:
new_data.head()

,id,first_name,last_name,email,quiz_summary,assignment_summary,grade_point,intermediate_class_eligibility
0,1,Chase,Burtt,cburtt0@nyu.edu,100,0.0,80,Yes
1,2,Rusty,Boumphrey,rboumphrey1@google.cn,70,56.0,11,No
2,3,Ree,Birley,rbirley2@weather.com,90,76.0,98,Yes
3,4,Jere,Maydwell,jmaydwell3@ed.gov,100,78.4,49,No
4,5,Mandie,Finding,mfinding4@state.gov,100,20.0,29,No

In [67]:
to_numeric = {'Yes': 1, 'No': 2}
#to_numeric

In [68]:
new_data = new_data.applymap(lambda lable: to_numeric.get(lable) if lable in to_numeric else lable)

In [69]:
new_data.head()

,id,first_name,last_name,email,quiz_summary,assignment_summary,grade_point,intermediate_class_eligibility
0,1,Chase,Burtt,cburtt0@nyu.edu,100,0.0,80,1
1,2,Rusty,Boumphrey,rboumphrey1@google.cn,70,56.0,11,2
2,3,Ree,Birley,rbirley2@weather.com,90,76.0,98,1
3,4,Jere,Maydwell,jmaydwell3@ed.gov,100,78.4,49,2
4,5,Mandie,Finding,mfinding4@state.gov,100,20.0,29,2

In [70]:
main_data = new_data.copy()
main_data.head()

,id,first_name,last_name,email,quiz_summary,assignment_summary,grade_point,intermediate_class_eligibility
0,1,Chase,Burtt,cburtt0@nyu.edu,100,0.0,80,1
1,2,Rusty,Boumphrey,rboumphrey1@google.cn,70,56.0,11,2
2,3,Ree,Birley,rbirley2@weather.com,90,76.0,98,1
3,4,Jere,Maydwell,jmaydwell3@ed.gov,100,78.4,49,2
4,5,Mandie,Finding,mfinding4@state.gov,100,20.0,29,2

In [71]:
new_data.drop(['id','first_name', 'last_name', 'email', 'intermediate_class_eligibility'], axis=1, inplace = True)

In [72]:
new_data.head()

   quiz_summary  assignment_summary  grade_point
0           100                 0.0           80
1            70                56.0           11
2            90                76.0           98
3           100                78.4           49
4           100                20.0           29

I had an error saying that my column name did not match the one I used in training the model, so I have to rename it from grade_point to grade_point_average so that it will match.

In [73]:
new_data.rename(columns={'grade_point': 'grade_point_average'}, inplace=True)

In [74]:
new_data.head()

   quiz_summary  assignment_summary  grade_point_average
0           100                 0.0                   80
1            70                56.0                   11
2            90                76.0                   98
3           100                78.4                   49
4           100                20.0                   29

In [75]:
# Load the saved model
model = joblib.load('C:/Users/STUTERN/Desktop/Intermediate_project/DT_Model.joblib')

# Make a prediction
prediction = model.predict(new_data)

In [76]:
print(prediction)

[1 2 1 2 2 1 2 1 1 1 1 1 1 2 1 2 2 1 1 1 1 1 1 2 1 1 2 2 2 1 1 2 1 2 1 1 2
 1 1 2 1 1 1 2 2 1 1 1 1 1 2 1 1 1 1 1 2 2 1 1 1 1 2 1 1 1 1 2 1 2 1 1 1 2
 2 1 2 2 1 1 2 1 1 1 2 1 1 1 2 2 2 2 2 2 1 1 1 1 2 2 2 1 1 2 1 1 2 2 1 1 2
 1 1 1 1 2 1 2 1 1 1 1 1 1 1 1 1 1 1 2 1 2 2 1 1 1 1 2 2 1 2 2 1 1 1 1 1 1
 1 1 2 1 2 1 1 1 1 2 1 1 1 1 1 2 1 1 1 1 1 1 1 1 2 1 1 2 1 2 1 2 2 2 1 2 2
 2 1 1 1 1 2 1 2 2 1 2 1 2 2 1 2 1 2 1 1 1 2 2 2 1 2 1 1 1 1 2 1 2 2 1 2 1
 2 1 2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 2 1 2 2 2 1 1 2 1 2 1 2 1 1 2 1
 2 2 1 1 2 1 1 1 1 1 1 2 1 2 2 1 1 2 1 1 1 2 1 1 2 2 2 2 2 1 2 2 2 1 1 1 1
 1 2 1 1 1 1 1 2 1 2 1 2 1 1 1 2 1 1 1 1 1 1 1 2 2 1 2 1 2 2 2 1 2 2 2 1 1
 2 1 1 1 1 2 2 2 1 1 2 1 1 1 1 2 2 1 1 1 1 1 2 1 1 2 2 1 1 2 1 1 1 1 2 2 1
 2 1 2 1 1 1 1 1 2 1 2 1 1 1 1 1 1 2 1 1 1 2 2 1 2 1 1 1 1 2 2 1 2 1 1 1 1
 1 2 1 2 1 1 1 1 1 1 1 2 1 2 1 1 1 1 1 2 1 1 1 1 1 2 1 2 1 1 1 1 1 1 2 1 2
 2 1 1 1 1 1 1 2 1 2 2 2 1 1 2 1 1 1 2 2 1 1 2 2 1 1 1 2 2 1 1 1 2 1 1 1 2
 1 2 2 1 2 2 1 1 1 2 1 1 1 1 1 2 1 2 2 1 2 2 2 1 1 2 2 1 1 2 2 1 1 2 2 2 1
 2 2 1 2 1 1 1 1 2 1 1 1 2 1 1 2 1 1 2 2 2 1 1 1 1 2 1 2 1 1 1 1 2 1 1 1 1
 1 2 1 1 1 1 2 1 2 1 2 1 2 1 1 2 1 2 2 1 2 2 2 2 1 2 1 1 1 1 1 1 1 1 2 1 2
 1 1 2 1 2 1 1 1 1 1 1 1 2 1 2 2 1 1 1 1 2 1 2 1 2 2 1 2 1 2 2 1 1 2 2 1 1
 1 2 1 1 1 2 2 2 1 2 1 1 1 2 2 1 1 1 2 1 1 1 2 1 1 2 2 2 2 2 2 1 1 2 2 1 1
 2 1 1 2 2 1 2 1 2 1 2 2 1 1 1 1 1 1 2 2 1 1 1 1 1 1 2 1 1 1 1 1 1 2 2 1 1
 1 1 2 2 1 1 1 2 2 2 1 1 1 2 2 2 1 1 2 2 1 1 1 2 1 1 1 1 2 2 2 1 1 1 1 2 1
 1 2 1 1 2 1 1 2 1 1 1 2 1 1 1 2 1 2 1 1 1 1 2 1 1 2 2 1 1 1 1 1 1 1 2 2 2
 1 2 2 2 2 1 1 1 2 2 1 1 2 2 2 2 1 1 1 1 1 1 2 1 2 1 2 1 1 1 2 2 2 1 2 1 1
 1 1 2 2 2 1 2 1 2 1 1 1 1 2 1 1 2 1 1 2 2 1 2 1 1 1 1 1 2 1 1 1 1 1 1 2 1
 1 1 2 1 1 2 1 2 1 1 2 1 2 1 1 2 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 2 2 1 2 1 1
 2 1 1 1 2 2 1 1 2 1 1 2 2 1 2 1 1 1 2 1 1 1 1 1 1 1 2 1 1 1 2 2 1 1 1 2 2
 2 2 2 1 1 1 1 1 1 1 1 1 2 2 2 1 1 1 2 1 2 1 2 2 1 2 2 1 1 1 1 1 1 1 2 1 1
 1 1 1 1 2 1 2 1 1 1 2 1 1 1 1 1 1 2 2 1 1 1 1 2 1 1 2 2 1 1 1 1 2 2 1 1 2
 2]

In [79]:
# convert the 'intermediate_class_eligibility' column into a list so I can fully view and compare the result
eligibility_list = main_data['intermediate_class_eligibility'].tolist()

# print the list
print(eligibility_list)

[1, 2, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 2, 2, 1, 1, 2, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 2, 2, 1, 2, 2, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 2, 2, 2, 1, 1, 2, 1, 1, 2, 2, 1, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 2, 1, 2, 2, 2, 1, 2, 2, 2, 1, 1, 1, 1, 2, 1, 2, 2, 1, 2, 1, 2, 2, 1, 2, 1, 2, 1, 1, 1, 2, 2, 2, 1, 2, 1, 1, 1, 1, 2, 1, 2, 2, 1, 2, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 2, 2, 2, 1, 1, 2, 1, 2, 1, 2, 1, 1, 2, 1, 2, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 2, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 2, 2, 2, 1, 2, 2, 2, 1, 1, 2, 1, 1, 1, 1, 2, 2, 2, 1, 1, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 2, 1, 1, 1, 1, 2, 2, 1, 2, 1, 2, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 2, 1, 1, 2, 1, 1, 1, 2, 2, 1, 1, 2, 2, 1, 1, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 2, 2, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 2, 2, 2, 1, 1, 2, 2, 1, 1, 2, 2, 1, 1, 2, 2, 2, 1, 2, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 2, 2, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1, 2, 1, 2, 1, 1, 2, 1, 2, 2, 1, 2, 2, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 2, 1, 2, 1, 2, 2, 1, 2, 1, 2, 2, 1, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 2, 2, 2, 1, 2, 1, 1, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 1, 1, 2, 1, 1, 2, 2, 1, 2, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 2, 2, 2, 1, 1, 1, 2, 2, 2, 1, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 2, 2, 2, 2, 1, 1, 1, 2, 2, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 2, 1, 1, 1, 2, 2, 2, 1, 2, 1, 1, 1, 1, 2, 2, 2, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2, 1, 2, 1, 1, 2, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 2, 1, 1, 1, 2, 2, 1, 1, 2, 1, 1, 2, 2, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 2, 1, 1, 1, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 2, 1, 2, 1, 2, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 1, 2, 2]

In [80]:
print(prediction), print(eligibility_list)

[1 2 1 2 2 1 2 1 1 1 1 1 1 2 1 2 2 1 1 1 1 1 1 2 1 1 2 2 2 1 1 2 1 2 1 1 2
 1 1 2 1 1 1 2 2 1 1 1 1 1 2 1 1 1 1 1 2 2 1 1 1 1 2 1 1 1 1 2 1 2 1 1 1 2
 2 1 2 2 1 1 2 1 1 1 2 1 1 1 2 2 2 2 2 2 1 1 1 1 2 2 2 1 1 2 1 1 2 2 1 1 2
 1 1 1 1 2 1 2 1 1 1 1 1 1 1 1 1 1 1 2 1 2 2 1 1 1 1 2 2 1 2 2 1 1 1 1 1 1
 1 1 2 1 2 1 1 1 1 2 1 1 1 1 1 2 1 1 1 1 1 1 1 1 2 1 1 2 1 2 1 2 2 2 1 2 2
 2 1 1 1 1 2 1 2 2 1 2 1 2 2 1 2 1 2 1 1 1 2 2 2 1 2 1 1 1 1 2 1 2 2 1 2 1
 2 1 2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 2 1 2 2 2 1 1 2 1 2 1 2 1 1 2 1
 2 2 1 1 2 1 1 1 1 1 1 2 1 2 2 1 1 2 1 1 1 2 1 1 2 2 2 2 2 1 2 2 2 1 1 1 1
 1 2 1 1 1 1 1 2 1 2 1 2 1 1 1 2 1 1 1 1 1 1 1 2 2 1 2 1 2 2 2 1 2 2 2 1 1
 2 1 1 1 1 2 2 2 1 1 2 1 1 1 1 2 2 1 1 1 1 1 2 1 1 2 2 1 1 2 1 1 1 1 2 2 1
 2 1 2 1 1 1 1 1 2 1 2 1 1 1 1 1 1 2 1 1 1 2 2 1 2 1 1 1 1 2 2 1 2 1 1 1 1
 1 2 1 2 1 1 1 1 1 1 1 2 1 2 1 1 1 1 1 2 1 1 1 1 1 2 1 2 1 1 1 1 1 1 2 1 2
 2 1 1 1 1 1 1 2 1 2 2 2 1 1 2 1 1 1 2 2 1 1 2 2 1 1 1 2 2 1 1 1 2 1 1 1 2
 1 2 2 1 2 2 1 1 1 2 1 1 1 1 1 2 1 2 2 1 2 2 2 1 1 2 2 1 1 2 2 1 1 2 2 2 1
 2 2 1 2 1 1 1 1 2 1 1 1 2 1 1 2 1 1 2 2 2 1 1 1 1 2 1 2 1 1 1 1 2 1 1 1 1
 1 2 1 1 1 1 2 1 2 1 2 1 2 1 1 2 1 2 2 1 2 2 2 2 1 2 1 1 1 1 1 1 1 1 2 1 2
 1 1 2 1 2 1 1 1 1 1 1 1 2 1 2 2 1 1 1 1 2 1 2 1 2 2 1 2 1 2 2 1 1 2 2 1 1
 1 2 1 1 1 2 2 2 1 2 1 1 1 2 2 1 1 1 2 1 1 1 2 1 1 2 2 2 2 2 2 1 1 2 2 1 1
 2 1 1 2 2 1 2 1 2 1 2 2 1 1 1 1 1 1 2 2 1 1 1 1 1 1 2 1 1 1 1 1 1 2 2 1 1
 1 1 2 2 1 1 1 2 2 2 1 1 1 2 2 2 1 1 2 2 1 1 1 2 1 1 1 1 2 2 2 1 1 1 1 2 1
 1 2 1 1 2 1 1 2 1 1 1 2 1 1 1 2 1 2 1 1 1 1 2 1 1 2 2 1 1 1 1 1 1 1 2 2 2
 1 2 2 2 2 1 1 1 2 2 1 1 2 2 2 2 1 1 1 1 1 1 2 1 2 1 2 1 1 1 2 2 2 1 2 1 1
 1 1 2 2 2 1 2 1 2 1 1 1 1 2 1 1 2 1 1 2 2 1 2 1 1 1 1 1 2 1 1 1 1 1 1 2 1
 1 1 2 1 1 2 1 2 1 1 2 1 2 1 1 2 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 2 2 1 2 1 1
 2 1 1 1 2 2 1 1 2 1 1 2 2 1 2 1 1 1 2 1 1 1 1 1 1 1 2 1 1 1 2 2 1 1 1 2 2
 2 2 2 1 1 1 1 1 1 1 1 1 2 2 2 1 1 1 2 1 2 1 2 2 1 2 2 1 1 1 1 1 1 1 2 1 1
 1 1 1 1 2 1 2 1 1 1 2 1 1 1 1 1 1 2 2 1 1 1 1 2 1 1 2 2 1 1 1 1 2 2 1 1 2
 2]
[1, 2, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 2, 2, 1, 1, 2, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 2, 2, 1, 2, 2, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 2, 2, 2, 1, 1, 2, 1, 1, 2, 2, 1, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 2, 1, 2, 2, 2, 1, 2, 2, 2, 1, 1, 1, 1, 2, 1, 2, 2, 1, 2, 1, 2, 2, 1, 2, 1, 2, 1, 1, 1, 2, 2, 2, 1, 2, 1, 1, 1, 1, 2, 1, 2, 2, 1, 2, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 2, 2, 2, 1, 1, 2, 1, 2, 1, 2, 1, 1, 2, 1, 2, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 2, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 2, 2, 2, 1, 2, 2, 2, 1, 1, 2, 1, 1, 1, 1, 2, 2, 2, 1, 1, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 2, 1, 1, 1, 1, 2, 2, 1, 2, 1, 2, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 2, 1, 1, 2, 1, 1, 1, 2, 2, 1, 1, 2, 2, 1, 1, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 2, 2, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 2, 2, 2, 1, 1, 2, 2, 1, 1, 2, 2, 1, 1, 2, 2, 2, 1, 2, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 2, 2, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1, 2, 1, 2, 1, 1, 2, 1, 2, 2, 1, 2, 2, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 2, 1, 2, 1, 2, 2, 1, 2, 1, 2, 2, 1, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 2, 2, 2, 1, 2, 1, 1, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 1, 1, 2, 1, 1, 2, 2, 1, 2, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 2, 2, 2, 1, 1, 1, 2, 2, 2, 1, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 2, 2, 2, 2, 1, 1, 1, 2, 2, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 2, 1, 1, 1, 2, 2, 2, 1, 2, 1, 1, 1, 1, 2, 2, 2, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2, 1, 2, 1, 1, 2, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 2, 1, 1, 1, 2, 2, 1, 1, 2, 1, 1, 2, 2, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 2, 1, 1, 1, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 2, 1, 2, 1, 2, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 1, 2, 2]

(None, None)

checking for Neural Network Model

In [82]:
# Load the saved model
model = joblib.load('C:/Users/STUTERN/Desktop/Intermediate_project/NN_Model.joblib')

# Make a prediction
prediction = model.predict(new_data)

In [84]:
print(prediction), print(eligibility_list)

[1 2 1 2 2 1 2 1 1 1 1 1 1 2 1 2 2 2 1 1 1 1 1 2 1 1 2 2 2 2 2 2 1 2 1 1 2
 1 1 2 2 1 1 2 2 1 1 1 1 1 2 1 1 1 1 1 2 2 1 1 1 1 2 1 1 1 1 2 1 2 1 1 1 2
 2 1 2 2 1 1 2 1 1 1 2 1 1 1 2 2 2 2 2 2 1 1 1 1 2 2 2 1 2 2 1 1 2 2 2 1 2
 1 1 1 1 2 1 2 1 1 1 1 1 1 1 1 1 1 2 2 1 2 2 1 1 1 1 2 2 1 2 2 1 2 1 1 1 1
 1 2 2 1 2 1 1 1 2 2 1 1 1 1 1 2 1 1 1 1 1 1 2 1 2 1 1 2 1 2 1 1 2 2 1 2 2
 2 1 1 1 1 2 2 2 2 1 2 1 2 2 1 2 1 2 1 1 2 1 2 2 1 2 1 1 1 1 2 1 2 2 1 2 1
 2 1 2 2 1 1 1 1 1 1 2 1 1 1 1 1 1 1 2 1 1 2 1 2 2 2 1 1 2 1 2 1 2 1 1 2 1
 2 2 1 1 2 1 1 2 1 1 1 2 1 2 2 1 2 2 1 1 1 2 1 2 2 2 2 2 2 1 2 2 2 1 1 1 1
 1 2 2 1 2 1 1 2 2 2 1 2 1 1 1 2 1 1 1 1 1 2 1 2 2 1 2 1 1 2 2 1 2 2 2 1 1
 2 2 1 1 1 2 2 2 1 1 2 1 1 1 1 2 2 1 1 1 1 2 2 1 1 2 2 1 1 2 1 2 2 1 2 2 1
 2 2 2 1 1 1 1 1 2 1 2 1 1 1 1 1 1 2 1 1 1 2 2 1 1 1 1 1 1 2 2 1 2 1 1 2 2
 1 2 1 2 1 1 2 1 1 1 1 2 1 2 1 1 1 1 1 2 1 2 1 1 1 2 1 2 1 1 1 1 1 1 2 1 2
 2 1 1 1 1 1 1 2 2 2 2 2 1 1 2 1 1 2 2 2 1 1 2 2 1 1 1 2 2 1 1 1 2 1 1 2 2
 1 2 2 1 2 2 1 1 2 1 1 1 1 1 1 2 1 2 2 1 2 2 2 1 2 2 2 1 1 2 2 1 1 2 2 2 2
 2 2 1 2 2 2 1 1 2 1 1 1 2 1 1 2 1 1 2 2 2 1 1 1 1 2 1 2 1 1 1 1 2 1 1 1 1
 1 2 1 1 1 1 2 1 2 1 2 1 2 1 1 2 1 2 2 1 2 2 2 2 1 2 1 1 1 1 1 1 2 1 2 1 2
 1 1 2 1 2 1 1 1 1 1 1 1 2 1 1 1 1 1 1 2 1 1 2 1 2 2 1 2 1 2 2 1 2 2 2 1 2
 2 2 1 1 1 1 2 2 1 2 2 2 1 2 2 1 1 1 2 1 1 1 2 1 1 2 2 2 2 2 2 1 1 2 2 1 2
 2 1 1 2 2 2 1 1 2 2 2 2 1 2 1 1 1 2 2 1 1 1 1 1 1 1 2 1 1 1 1 1 1 2 2 1 1
 1 2 2 2 1 1 1 2 2 2 2 1 1 2 2 2 1 1 2 2 1 1 1 2 1 1 1 1 2 2 2 1 1 1 1 2 1
 1 2 1 1 2 1 1 2 1 1 1 2 1 1 1 2 1 2 2 1 1 1 2 1 2 2 2 1 1 1 1 2 1 1 2 2 2
 1 2 2 2 2 1 1 2 2 2 1 1 2 2 2 2 1 1 1 1 1 1 2 1 2 2 2 1 1 1 2 2 2 1 2 1 2
 1 1 2 2 2 1 2 1 2 1 1 1 1 2 1 1 2 1 2 2 2 1 2 2 2 1 1 1 2 2 1 1 1 1 1 2 1
 1 1 1 2 1 2 1 2 1 1 2 1 2 1 1 2 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 2 1 1 2 1 1
 2 1 2 1 2 2 1 1 2 1 1 2 2 1 2 1 2 1 2 1 2 2 1 2 1 1 2 1 1 1 2 2 1 1 1 2 2
 2 2 2 1 2 1 1 1 1 1 1 1 1 2 2 1 1 1 2 1 2 2 2 2 1 2 2 1 1 1 1 1 2 2 2 1 1
 1 1 1 1 2 2 2 1 1 1 2 1 1 1 1 1 1 2 2 1 1 1 1 2 1 1 2 2 1 1 1 1 1 2 2 1 2
 2]
[1, 2, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 2, 2, 1, 1, 2, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 2, 2, 1, 2, 2, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 2, 2, 2, 1, 1, 2, 1, 1, 2, 2, 1, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 2, 1, 2, 2, 2, 1, 2, 2, 2, 1, 1, 1, 1, 2, 1, 2, 2, 1, 2, 1, 2, 2, 1, 2, 1, 2, 1, 1, 1, 2, 2, 2, 1, 2, 1, 1, 1, 1, 2, 1, 2, 2, 1, 2, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 2, 2, 2, 1, 1, 2, 1, 2, 1, 2, 1, 1, 2, 1, 2, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 2, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 2, 2, 2, 1, 2, 2, 2, 1, 1, 2, 1, 1, 1, 1, 2, 2, 2, 1, 1, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 2, 1, 1, 1, 1, 2, 2, 1, 2, 1, 2, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 2, 1, 1, 2, 1, 1, 1, 2, 2, 1, 1, 2, 2, 1, 1, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 2, 2, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 2, 2, 2, 1, 1, 2, 2, 1, 1, 2, 2, 1, 1, 2, 2, 2, 1, 2, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 2, 2, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1, 2, 1, 2, 1, 1, 2, 1, 2, 2, 1, 2, 2, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 2, 1, 2, 1, 2, 2, 1, 2, 1, 2, 2, 1, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 2, 2, 2, 1, 2, 1, 1, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 1, 1, 2, 1, 1, 2, 2, 1, 2, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 2, 2, 2, 1, 1, 1, 2, 2, 2, 1, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 2, 2, 2, 2, 1, 1, 1, 2, 2, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 2, 1, 1, 1, 2, 2, 2, 1, 2, 1, 1, 1, 1, 2, 2, 2, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 2, 1, 2, 1, 1, 2, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 2, 1, 1, 1, 2, 2, 1, 1, 2, 1, 1, 2, 2, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 2, 1, 1, 1, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 2, 1, 2, 1, 2, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 1, 2, 2]

(None, None)

In [ ]:
check for Standard Vector Machine Model

In [85]:
# Load the saved model
model = joblib.load('C:/Users/STUTERN/Desktop/Intermediate_project/SVM_Model.joblib')

# Make a prediction
prediction = model.predict(new_data)

In [ ]:
print(prediction),