In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("emission_factor_clean.csv")
df.head()

,Activity,Germany,France,Italy,Spain,Poland,Romania,Netherlands,Belgium,Czech,...,Slovakia,Ireland,Croatia,Lithuania,Slovenia,Latvia,Estonia,Cyprus,Luxembourg,Malta
0,Domestic flight,0.2130,0.625573,1.392407,1.011171,4.603754,2.7375,1.50545,1.39055,4.327515,...,1.611792,2.083771,1.4483,2.404015,1.566869,2.570615,3.900031,6.3831,0.875162,0.827814
1,International flight,0.1450,0.625573,1.392407,1.011171,4.603754,2.7375,1.50545,1.39055,4.327515,...,1.611792,2.083771,1.4483,2.404015,1.566869,2.570615,3.900031,6.3831,0.875162,0.827814
2,km_diesel_local_passenger_train_traveled,0.0713,0.031700,1.392407,1.011171,4.603754,2.7375,1.50545,1.39055,4.327515,...,1.611792,2.083771,1.4483,2.404015,1.566869,2.570615,3.900031,6.3831,0.875162,0.827814
3,km_diesel_long_distance_passenger_train_traveled,0.0440,0.003300,1.392407,1.011171,4.603754,2.7375,1.50545,1.39055,4.327515,...,1.611792,2.083771,1.4483,2.404015,1.566869,2.570615,3.900031,6.3831,0.875162,0.827814
4,km_electric_passenger_train_traveled,0.0668,0.187000,0.031700,0.051400,4.603754,2.7375,0.07630,0.04840,4.327515,...,1.611792,0.038800,1.4483,2.404015,1.566869,2.570615,3.900031,6.3831,0.875162,0.039700

In [5]:
def calculate_emissions(df):
    # Load the dataset
    df = pd.read_csv(df)
    
    # Extract country names (all columns except 'Activity')
    country_list = df.columns[1:].tolist()
    
    # Ask the user to choose a country
    print("Available countries:", ", ".join(country_list))
    country = input("Select a country: ").strip()
    
    if country not in country_list:
        print("Invalid country selection. Please select the right country.")
        return
    
    total_emission = 0
    
    # Iterate through each activity and ask for user input
    for index, row in df.iterrows():
        activity = row['Activity']
        factor = row[country]
        
        while True:
            try:
                user_input = float(input(f"Enter value for {activity}: "))
                break
            except ValueError:
                print("Invalid input. Please enter a numeric value.")
        
        total_emission += user_input * factor
    
    print(f"Total emission for {country}: {total_emission:.4f}")

# File path to dataset
df = "emission_factor_clean.csv"
calculate_emissions(df)

Available countries: Germany, France, Italy, Spain, Poland, Romania, Netherlands, Belgium, Czech, Portugal, Sweden, Greece, Hungary, Austria, Bulgaria, Denmark, Finland, Slovakia, Ireland, Croatia, Lithuania, Slovenia, Latvia, Estonia, Cyprus, Luxembourg, Malta

Select a country:  Germany
Enter value for Domestic flight :  2
Enter value for International flight :  4
Enter value for km_diesel_local_passenger_train_traveled:  4
Enter value for km_diesel_long_distance_passenger_train_traveled:  4
Enter value for km_electric_passenger_train_traveled:  4
Enter value for km_bus_traveled:  5
Enter value for km_petrol_car_traveled:  6
Enter value for km_Motorcycle_traveled:  f

Invalid input. Please enter a numeric value.

Enter value for km_Motorcycle_traveled:  6
Enter value for km_ev_scooter_traveled:  7
Enter value for km_ev_car_traveled:  8
Enter value for diesel_car_traveled:  2
Enter value for water_consumed:  1
Enter value for electricity_used:  5
Enter value for beef_products_consumed:  7
Enter value for beverages_consumed:  7
Enter value for poultry_products_consumed:  8
Enter value for pork_products_consumed:  9
Enter value for processed_rice_consumed:  9
Enter value for sugar_consumed:  7
Enter value for vegetable_oils_fats_consumed:  7
Enter value for other_meat_products_consumed:  8
Enter value for dairy_products_consumed:  8
Enter value for fish_products_consumed:  9
Enter value for other_food_products_consumed:  7
Enter value for hotel_stay:  3

Total emission for Germany: 125.1511