In [1]:
import pandas as pd
import sqlite3

In [7]:
# Import CSV
data = pd.read_csv(r'udemy_courses.csv')   # Read my csv file 
df = pd.DataFrame(data)                    # And converted it to Pandas DataFrame

In [3]:
# create connection
conn = sqlite3.connect("udemy_courses.db") # created and connected to database called udemy_courses.db

#create a cursor object
cursor = conn.cursor()                      # created my cursor object called cursor

In [4]:
# create table called Udemy_courses
cursor.execute('''
		CREATE TABLE udemy_courses (
			course_id                int64,
			course_title            object,
			url                     object,
			is_paid                   bool,
			price                    int64,
			num_subscribers          int64,
			num_reviews              int64,
			num_lectures             int64,
			level                   object,
			content_duration       float64,
			published_timestamp     object,
			subject                 object
			)
               ''')

In [5]:
# Inserting the items into my Table
for row in df.itertuples():
    cursor.execute("""
                INSERT INTO udemy_courses (course_id, course_title, url, is_paid, price, num_subscribers, num_reviews, num_lectures, level, content_duration, published_timestamp, subject)
                VALUES (?,?,?,?,?,?,?,?,?,?,?,?)""", (row.course_id, row.course_title, row.url, row.is_paid, row.price, row.num_subscribers, row.num_reviews, row.num_lectures, row.level, row.content_duration, row.published_timestamp, row.subject))

conn.commit()
conn.close()