In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_excel('All_members.xlsx')
df1.head()

,First_name,Last_name,Business_Name_here,Employer_Address_Line1,Employer_City,Employer_Location,Employer_Postal_Code,Employer_Country,Last name
0,Gary,Roush,"Roush, Gary",176 Highview Rd,Traverse City,Michigan,49686,United States,NaN
1,Josh,Hollister,"Hollister, Josh",NaN,Interlochen,Michigan,NaN,United States,NaN
2,Chris H,Christensen,"Christensen, Chris H",534 E Front St,Traverse City,Michigan,49686,United States,NaN
3,Jerry,Niezgoda,"Niezgoda, Jerry",966 N West Silver Lake Rd,Traverse City,Michigan,49685,United States,NaN
4,George,Geer,"Geers, George W",1002 Rose St,Traverse City,Michigan,49686,United States,NaN

In [7]:
df1.shape

(1123, 9)

In [15]:
df1.duplicated().sum()

1

In [3]:
df2 = pd.read_excel('Active_members.xlsx')
df2.head()

,MemberName,First_name,Last_name,Street Address 1,City,State,Zip Code,Unnamed: 7
0,"1, 2, Tree LLC",Jacob,Anderson,672 Oakhurst Ave NW,Grand Rapids,MI,495044662,49504.0
1,1021-1023 Sheridan LLC,Jesse,Gibson,10705 Courtland Dr NE,Rockford,MI,49341-8435,49341.0
2,1498 Lake Dr LLC,Merribeth,Jammal,1169 Fallingbrook Dr SE,Kentwood,MI,49508-6246,49508.0
3,1lasteye llc,Melissa,King,184 Highland View Ct NE,Rockford,MI,49341-1171,49341.0
4,"2027 Plainfield NE, LLC",Harold,Roundhouse,2011 Plainfield Ave NE #2,Grand Rapids,MI,495054201,49505.0

In [9]:
df2.shape

(1698, 8)

In [17]:
df2.duplicated().sum()

6

In [21]:
Merge = df2.merge(df1, on=['First_name', 'Last_name'], how='left', indicator=True)

In [23]:
Merge.shape

(1707, 16)

In [27]:
not_in_all_memeber= Merge[Merge['_merge'] == 'left_only']

In [33]:
not_in_all_memeber.shape

(820, 16)

In [35]:
not_in_all_memeber.duplicated().sum()

1

In [37]:
not_in_all_memeber = not_in_all_memeber.drop(columns='_merge')

In [39]:
not_in_all_memeber

,MemberName,First_name,Last_name,Street Address 1,City,State,Zip Code,Unnamed: 7,Business_Name_here,Employer_Address_Line1,Employer_City,Employer_Location,Employer_Postal_Code,Employer_Country,Last name
1,1021-1023 Sheridan LLC,Jesse,Gibson,10705 Courtland Dr NE,Rockford,MI,49341-8435,49341.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1lasteye llc,Melissa,King,184 Highland View Ct NE,Rockford,MI,49341-1171,49341.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,541 Lovett LLC,Linda,Najar,530 Lovett Ave SE,Grand Rapids,MI,49506-2916,49506.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,616 Realty,Scot,Kellogg,1171 Plainfield NE,Grand Rapids,MI,495031035,49503.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,616 Remodeling,Nate,Bohlman,7476 Cherry Ave,Jenison,MI,49428,49428.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1701,Zoejoe Holdings LLC,Brian,Todey,926 Dogwood Meadows,Ada,MI,49301-9438,49301.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1702,"Zokoe, Laurie",Laurie,Zokoe,12685 14th Ave NW,Grand Rapids,MI,49534-9711,49534.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1703,"Zsidi, Matt",Matt,Zsidi,1597 N 10th St,Kalamazoo,MI,490099181,49009.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1704,Zuidema Hills LLC,Michele,Zuidema,9081 Conservation St NE,Ada,MI,49301-9797,49301.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1705,"Zylstra, Diane",Diane,Zylstra,126 N Lake St SE,Caledonia,MI,49316-9443,49316.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
not_in_all_memeber.to_csv('C:/Users/STUTERN/Downloads/Employees.csv', index=False)